@font-face {
    font-family: 'MuseoSansCyrl';
    src: url(../fonts/MuseoSansCyrl900.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url(../fonts/MuseoSansCyrl.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url(../fonts/Museosanscyrl1.ttf);
    font-weight: 100;
    font-style: normal;
}
.wrap{
	width: 652px;
	background: #ccc;
	padding: 44px 50px;
	background-image:url('../img/image.png');
	margin: 50px 0;

}


.baner-main-title{
	font-family: 'MuseoSansCyrl';
  font-weight: 900;
  font-size: 30px;
  color:#fff;
  margin-bottom: 29px;
}
.baner-title{
	font-family: 'MuseoSansCyrl';
  font-weight: 100;
  font-size: 24px;
  color:#fff;
  margin-bottom: 50px;s
  max-width: 435px;
}


.form-inline .form-control {
   
    font-size: 14px;
    border: 2px solid #8145F4;
    border-radius: 0;
    padding: 18px 12px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: 0;
    }
    .form-control.is-valid, .was-validated .form-control:valid{
    	padding-right: 0;
    	background-image: none;
    }
.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
    position: absolute;
    bottom: -20px;
}

.btn.btn-form-1{

	  font-size: 14px;
    font-weight: 700;
    border: 2px solid #8145F4;
    border-radius: 0;
    background: #8145f4;
    color: #fff;
    position: relative;
    padding: 8px 30px;
}
.btn.btn-form-1:before {

	content: '';
  background: transparent;
  border: 2px solid #8145F4;
  top: 7px;
  right: -7px;
  bottom: -7px;
  left: 7px;
  position: absolute;
 
  }

  .btn.btn-form-1:after {

 content: 'Нажимая, я принимаю условия соглашения';
	font-size: 10px;
  bottom: -42px;
  left: 0px;
  position: absolute;

  }

/*--------------------------- form 2------*/

.wrap2{
	width: 652px;
	background: #eee;
	padding: 44px 50px;
	margin: 50px 0;
	-webkit-box-shadow: 10px 10px 0px 0px rgba(87,0,255,1);
	-moz-box-shadow: 10px 10px 0px 0px rgba(87,0,255,1);
	box-shadow: 10px 10px 0px 0px rgba(87,0,255,1);

}
  .wrap2 .baner-main-title, .wrap2 .baner-title, .wrap2 .btn.btn-form-1:after{
  	color:#000;
  }


/*--------------------------- Media query ------*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)  {

.wrap, .wrap2{
	max-width: 335px;
    background: #ccc;
    padding: 50px 20px;
    background-image: url(../img/imagemob.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 0;

}

.wrap2{
	max-width: 335px;
    background: #eee;
    padding: 50px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 0;

}
.baner-main-title{
	
  font-size: 26px;
  line-height: 32px;
  
}
.baner-title{
	
  font-size: 18px;
  
  
}
.btn.btn-form-1, .form-inline .form-control {
   
    width: 100%;
}

.col-12{
	padding: 0;
}

.btn.btn-form-1:after{
    left: 0px;
    right: 0px;
    width: 163px;
    margin: auto;
    position: absolute;
}

}
